
<style>
.yritys_image {
    float: right;
    width:290px;
    padding: 10px;
}

ul li a {
    color:white;
    text-decoration: none;
    padding-left:10px;
}

.button-wrapper {
    padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  text-align: center;
}
.button {
  border: none;
  border-radius: 3em;
  box-shadow: 2px 2px 2px rgba(228, 46, 46, 0.2);
  display: inline-block;
  font-size: 1.2em;
  padding: 1em 2em;
  width: auto;
}
.cta-button {
    text-transform: capitalize;
  font-weight: 500;
  background-color: rgb(197, 4, 17);
  color: #fff !important;
}

.cta-button:hover {
  background-color: rgb(208, 63, 63);
}
/* etusivun yritysbanneri */
.brands img {
    margin: 0 16px;
    width: 80px;
    filter: grayscale(100%);
    padding: 20px;
    vertical-align: middle;
}   
.brands{
    width:100%;
    padding-bottom: 10px;
    display: block; /* täs oli float_left*/
    text-align:center;

}

#all_offers a img {
  margin: 0;
    height: 135px;
    padding: 3px;
    vertical-align: middle;
    
}

#all_offers {
  float:middle;
    width:100%;
    display: block; /* täs oli float_left*/
    text-align:center;
}
/* kaikki yrityksen tarjoukset */ 

</style>