<div id="all_offers">

        <a href="http://bit.ly/fortum-vakaa" rel="nofollow">
                <img loading="lazy" src="/fortum_vakaa.jpeg" alt="fortum_vakaa_sähkötarjous"></a>
        
        <a href="http://bit.ly/fortum1" rel="nofollow">
            <img loading="lazy" src="/fortum_tarjous.jpg" alt="fortum sähkötarjous_vakio"></a>

        <a href="http://bit.ly/kme-gigantti" rel="nofollow">
            <img loading="lazy" src="/kotimaan_energia_tarjous.jpg"  alt="Kotimaan Energia tarjous"></a>

        <a href="http://bit.ly/kme-diili" rel="nofollow">
            <img loading="lazy" src="/kme_paketti_diili.jpg" alt="Kotimaan Energia Diili">   </a>
        
        </div>


